<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('学习统计分析')"/>
    <link rel="stylesheet" th:href="@{/static/admin/css/studyStatistics.css}" media="all">
</head>
<body style="background-color:whitesmoke;">
<div class="fx-container">
    <div class="fx-block" style="padding-bottom:0;margin-bottom:12px">
        <div class="fx-search layui-row layui-col-space1 fx-label4" style="width:810px" id="query_div">
            <form id="queryForm" name="queryForm" lay-filter="queryForm" class="layui-form">
                <div class="layui-form-item">
                    <div class="fx-width33">
                        <label class="layui-form-label">日期范围</label>
                        <div class="layui-input-block">
                            <input type="text" id="rangDate" name="rangDate" lay-filter="rangDate"
                                   placeholder="请选择日期"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-row layui-col-space12">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="fx-block">
                <div class="block-title">
                    <span class="changeName">学习时长统计</span>
                </div>
                <div id="echarts1" style="width:100%;height:550px"></div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="fx-block">
                <div class="block-title">
                    <span class="changeName">学习时长趋势</span>
                    <span style="margin-left: 50px">姓名</span>
                    <select name="username" id="username" lay-filter="username">
                    </select>
                </div>
                <div id="echarts2" style="width:100%;height:550px"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    const date = new Date();
    var year = date.getFullYear();
    var month = (date.getMonth() + 1 < 10) ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
    const formatStartDate = year + "-" + month + "-01";
    date.setMonth(date.getMonth() + 1);
    date.setDate(1);
    date.setTime(date.getTime() - 24 * 60 * 60 * 1000);
    var day = (date.getDate() < 10) ? '0' + date.getDate() : date.getDate();
    const formatEndDate = year + "-" + month + "-" + day;

    layui.use(['laydate', 'util'], function () {
        var laydate = layui.laydate;

        // 初始化日期
        laydate.render({
            elem: '#rangDate',
            range: "~",
            value: formatStartDate + " ~ " + formatEndDate,
            done: function (value, date) {
                getEchartData(value);
            }
        });
        $.ajax({
            url: rootPath + "/StudyTogetherController/userList",
            dataType: 'json',
            type: 'get',
            success: function (result) {
                var resData = result.data;
                userRender(resData);
            }
        })

        function userRender(params) {
            var tmp = '<option value="">所有人</option>';
            $.each(params, function (index, item) {
                tmp += '<option value="' + item.id + '">' + item.username + '</option>';
            });
            $("#username").html(tmp);
        }

        $("#username").on('change', function () {
            getEchartData($("#rangDate").val());
        })

        function updateEchart1(data) {
            let myChart = echarts.init(document.getElementById('echarts1'));
            let option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                grid: {
                    bottom: '90',
                },
                color: ['#6FBBC3'],
                xAxis: {
                    type: 'category',
                    axisPointer: {
                        type: 'shadow'
                    },
                    // data: ['2023/01/01', '2023/01/02', '2023/01/03', '2023/01/04', '2023/01/05', '2023/01/06', '2023/01/07','2023/01/08','2023/01/09','2023/01/10','2023/01/11','2023/01/12'],
                    data: data.xList1
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        // data: [20, 2, 15, 8, 17, 11, 13, 19, 10, 13,11, 13],
                        data: data.yList1,
                        type: 'bar',
                        barWidth: 30,
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.clear();
            myChart.setOption(option);
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        };

        function updateEchart2(data) {
            let myChart = echarts.init(document.getElementById('echarts2'));
            let option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                grid: {
                    bottom: '90',
                },
                color: ['#6FBBC3'],
                xAxis: {
                    type: 'category',
                    axisPointer: {
                        type: 'shadow'
                    },
                    // data: ['2023/01/01', '2023/01/02', '2023/01/03', '2023/01/04', '2023/01/05', '2023/01/06', '2023/01/07','2023/01/08','2023/01/09','2023/01/10','2023/01/11','2023/01/12'],
                    data: data.xList2,
                    axisLabel: {
                        interval: 0,
                        rotate: 30
                    }
                },
                yAxis: {
                    type: 'value'
                },
                dataZoom: [{
                    type: 'slider',
                    startValue: 0,
                    endValue: 6,
                    minValueSpan: 3,
                    maxValueSpan: 10
                }],
                series: [
                    {
                        // data: [120, 200, 150, 80, 70, 110, 130, 90, 110, 130,110, 130],
                        data: data.yList2,
                        type: 'line',
                        barWidth: 30
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.clear();
            myChart.setOption(option);
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        };


        // 获取图表数据
        function getEchartData(rangDate) {
            var userId = $("#username").val()
            let param = {
                rangDate: rangDate,
                userId: userId
            }
            $.ajax({
                url: rootPath + '/StudyTogetherController/statisticsData',
                data: param,
                dataType: 'json',
                type: 'get',
                success: function (result) {
                    const data = result.data;
                    console.log(data);
                    updateEchart1(data);
                    updateEchart2(data);
                }
            });
        }

        getEchartData($("#rangDate").val());
    });

</script>
</body>
</html>